body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("https://assets-global.website-files.com/5f2b1efb0f881760ffdc5c96/63c12849a1c7e9df64c819fc_programming-languages-shutterstock-1680857539.webp");
}

.navbar{
  width: 100%;
  height: 60px;
  background-color:rgb(41, 41, 227);
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  font-size: 60px;
  color:red;
  margin-top: 20px;
  text-shadow: 3px 3px 3px black;
}

#navlink {
  font-size: 16px;
  padding-left: 60px;
}
.nav-link{
  color:black;
  font-weight: 800;
}

#btnNav {
  background-color: blue;
  margin-top: 2px;
  font-size: 16px;
  font-weight: 800;
  color: white;
}

p{
  padding-top: 30px;
  color:white;
  text-shadow: 3px 3px 3px black;
  font-size: 20px;
  font-weight: 800;
}

h3{
  font-size: 30px;
  color:white;
  margin-top: 20px;
  text-shadow: 3px 3px 3px black;
  font-weight: 700;
}

.form{
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding-left: 50px;
  margin-top: 50px;
}

form{
  padding-top: 20px;
  color: white;
  text-shadow: 3px 3px 3px black;
  font-weight: 700;
}

