body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 400px;
  background-image: url("https://www.fastweb.it/var/storage_feeds/cms20/media/fwb_wbce_cms20_fwplus/1ff/1ffef3fab487508cf9d8405c70306c13/linguaggi%20programmazione%203.jpg");
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}

#navlink {
  font-size: 16px;
  padding-left: 60px;
}
.nav-link{
  color:black;
  font-weight: 800;
}

#btnNav {
  background-color: blue;
  margin-top: 2px;
  font-size: 16px;
  font-weight: 800;
  color: white;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 80px;
  color: rgb(255, 255, 0);
  text-shadow: 8px 8px 8px black;
  padding-top: 100px;
}